.btn {
  border-radius: 0.5em;
  border: 0.15em solid var(--btn-border-colour);
  height: 100%;
  max-width: max-content;
  padding-block-start: calc(var(--padding-xs) + 0.15em); /* Extra em makes the button text look more centered */
  padding-block-end: var(--padding-xs);
  padding-inline: var(--padding-md);
  text-align: center;
  font-weight: var(--fw-bold);
  background-color: var(--btn-bg);
  color: var(--btn-colour);
  cursor: pointer;
  transition: border-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.btn:hover {
  --btn-bg: var(--bg-blue);
  --btn-colour: var(--primary-white);
  border-color: var(--bg-blue);
}

.btn:focus,
.btn:focus-within {
  outline: 0.25em auto -webkit-focus-ring-color;
}

.btn-primary {
  --btn-bg: var(--primary-blue);
  --btn-colour: var(--primary-white);
  --btn-border-colour: var(--primary-blue);
}

.btn-secondary {
  --btn-colour: var(--primary-blue);
  --btn-bg: var(--primary-white);
  --btn-border-colour: var(--primary-blue); 
}

.btn-tertiary {
  --btn-colour: var(--primary-blue);
  --btn-bg: transparent;
  padding-block: 0;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  gap: var(--padding-xs);
  grid-column: 1 / 3;
  margin-block-start: var(--padding-md);
  max-width: 92.5%;
}

.btn-group .btn:first-child {
  flex-grow: 1;
  margin-inline-end: auto;
}
