:root {
  font-family: 'BCSans', sans-serif;
  font-weight: 400;

  color-scheme: light;
  background-color: var(--primary-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /*
    Paddings
  */
  --padding-xs: 0.5em;
  --padding-sm: 1em;
  --padding-md: 2em;
  --padding-lg: 3em;

  /*
    Headings sizes

    Major Third (1.250) scale
  */
  --fs-h1: 2.441rem;
  --fs-h2: 1.953em;
  --fs-h3: 1.563em;

  /*
    Font weights
  */
  --fw-bold: 700;
  --fw-regular: 400;

  /*
    Colours
  */
  --dark-grey: hsl(0, 0%, 14%);
  --light-grey: hsl(0, 0%, 60%);
  --bg-blue: #38598a;
  --primary-blue: #036;
  --accent-yellow: #fcba19;
  --link-blue: #1a5a96;
  --primary-white: #fff;
  --cream: hsl(34, 78%, 91%);
  --dolce: hsl(33, 100%, 88%);
  --brown: hsl(0, 45%, 26%);
  --cyan: cyan;

  /*
    Radii 
  */
  --radius-1: 0.3em;

  /*
    Heights
  */
  --header-height: 6em;
  --footer-height: 4em;
}

body {
  position: relative;
  place-items: center;
  display: flex;
  justify-content: center;

  width: 100%;
  min-height: 100dvh;

  padding-block-start: calc(var(--header-height) + var(--padding-md));
  padding-block-end: calc(var(--footer-height) + var(--padding-md));
}

a {
  color: var(--link-blue);
}

.main-container {
  position: relative;
  width: 100%;
  min-width: 1080px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
