table {
  background-color: var(--primary-white);
  color: var(--dark-grey);
  width: 100%;
  border-radius: var(--radius-1);
  box-shadow: 0 0 1em var(--light-grey);
}

thead {
  border-block-end: 0.2em solid var(--accent-yellow);
  color: var(--primary-white);
}

thead tr {
  background-color: var(--bg-blue);
}

tr:nth-child(2n) {
  background-color: var(--cream);
}

th:first-child {
  padding-inline-start: var(--padding-md);
}

th {
  text-align: start;
  padding-inline-end: var(--padding-md);
  padding-block: var(--padding-sm);
  white-space: nowrap;
}

tbody tr td:not(:first-child) {
  width: max-content;
  padding-inline-end: var(--padding-md);
}

.product-number {
  text-align: center;
}

.table__title-bar {
  display: flex;
  align-items: center;
  gap: var(--padding-md);
  color: var(--dark-grey);
  padding-inline-end: var(--padding-md);
}

.table__title-bar p {
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
}

.table__title {
  color: var(--dark-grey);
  text-align: left;
  flex-grow: 2;
}
