table {
  background-color: var(--primary-white);
  color: var(--dark-grey);
  width: 100%;
  border-radius: var(--radius-1);
  filter: drop-shadow(0 0 0.5em var(--light-grey));
}

thead {
  border-block-end: var(--padding-xs) solid var(--dark-grey);
}

tr:nth-child(2n) {
  background-color: var(--cream);
}

th:first-child {
  padding-inline-start: var(--padding-md);
}

th {
  text-align: start;
  padding-inline-end: var(--padding-md);
  padding-block: var(--padding-sm);
  white-space: nowrap;
}

tbody tr td:not(:first-child) {
  width: max-content;
  padding-inline-end: var(--padding-md);
}

.product-number {
  text-align: center;
}

.table__title-bar {
  display: flex;
  align-items: center;
}

.table__title {
  text-align: left;
  flex-grow: 2;
}
